<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>LEACT</title>

  <!-- CSS -->
  <link rel="stylesheet" href="/leactgroup/assets/index-BoQlMkdv.css">
</head>
<body>
  <div id="root"></div>

  <!-- JS -->
  <script type="module" src="/leactgroup/assets/index-ChtbohPj.js"></script>
</body>
</html>
